<!DOCTYPE html>
<html>
<head>
    <%- include("book/head") %>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include("book/header_nav") %>
    <section class="body">
        ddd
    </section>
</body>
</html>