block nav
    ul.main-menu
        li
            a(href="/") 홈
        li
            a(href="/bus/viewstation") VIEW STATION
        li
            a(href="/bus/getstation") GET STATION(관리자)
        li
            form(action="/bus/searchstation")
                input(name="station" ,placeholder="정류장 검색")
        li
            a(href="#") 로그인
        li
            a(href="#") 회원가입