doctype html
html
  head
    script(src="https://code.jquery.com/jquery-latest.min.js")
    style.
      body {
        padding: 0;
        margin: 0;
      }
  body
    include header
    block content
