link(rel='stylesheet', href='/stylesheets/header_nav.css')
script(src="/javascripts/header_nav.js")

header
    h1 Corona Info
nav
    ul
        li.home 홈
        li.info 질병정보
        li.statistics 통계
        li.route 확진자 이동경로