<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  
  <%#
    % include footer.ejs % 형식은 ejs 버전 3.0 미만에서 사용 가능
    %- include ('footer') % 형식은 2.4부터 사용 가능하며, 3.0 이상에서 기본형식으로 사용해야 함
    
    간혹 include한 파일에서 router에서 전달한 데이터를 인식하지 못하는 경우가 있기 때문에
    데이터를 전달해 주는 것이 좋다
    %- include ('footer', {book: book, books: books}) %

    HTML Tag escape
    %= Tag를 문자로 표시
    %- Tag를 적용해서 표현
  %>
  <%- include ('footer') %>
</html>
