section.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info_article {
    margin: 30px;
    width: 400px;
}

.title p {
    border-bottom: 1px solid #aaa;
    padding: 5px;
}

p.text {
    line-height: 21px;
    padding: 5px;
    font-size: small;
}

.edit {
    cursor: pointer;
}

.info_form {
    display: none;
}

.info_form.active {
    display: block;
}

.info_form.inactive {
    display: none;
}