extends ../layout

block content

    link(rel="stylesheet" href="/stylesheets/info.css")
    script(src="/javascripts/info.js")

    section.info
        article.info_article.i1
            h4 정의
            p SARS-CoV-2 감염에 의한 호흡기 증후군. 2019년 12월 중국 우한시에서 발생한 바이러스성 호흡기 질환. '우한 폐렴', '신종코로나바이러스감염증', '코로나19'라고도 한다. 2020년 3월 전세계로 확산되자, 세계보건기구는 이 질환에 대해 팬데믹을 선언했다.

        article.info_article.i2
            h4 감염경로
            p 기침이나 재채기로 호흡기 감염, 오염된 물건을 만진 뒤 눈, 코, 입을 만짐. 증상이 거의 없는 감염 초기에 전염성이 강한 특징을 보인다.

        article.info_article.i3
            h4 증상
            p 인후통, 고열, 기침, 호흡곤란 등의 증상을 거쳐 폐렴으로 발전한다.

        article.info_article.i4
            h4 예방 및 치료

        article.info_article.i5
            h4 긴급연락처 및 콜센터